#modalContainer {
    display:none; //acá va none
    position: fixed;
    top:0;
    left:0;
    z-index: 1;

    #modalBackground {
        width:100vw;
        height:100vh;
        background-color:$transpBaseColor;
        display:flex;
        align-items:center;
        justify-content:center;
        
        #modal {
            height:600px;
            width: 100%;
            max-width: 768px;
            position: relative;
        
            #upperModal {
                height:50%;
                background-size:cover;
                background-position: center;

                #upperModalCover {
                    background: $transpBaseColor2;
                    height:100%;
                    width:100%;
                }
            }
        
            #lowerModal {
                height:50%;
                background-color:$contrastColor;
            }
        }
    }
}

.textContainer {
    width:50%;
    float:right;
    padding:50px;
    #mainTitle {
        font-size:2em;
        margin-bottom:10px;
        color:$textHighlight;
        font-weight:bolder;
    }
    .modalSubtitle {
        font-size:1em;
        margin:10px 0;
        color:$textHighlight;
        font-weight:bolder;   
    }
    .modalText {
        color:$baseTextColor;
    }

}
 #poster {
    width:40%;
    position:absolute;
    z-index:1;
    top:10%;
    left:10%;
 }

.closeButton {
    margin:5px;
    background:$textHighlight;
    color: $baseTextColor;
    padding: 5px;
    font-size:1em
}