.movieList {
    display:flex;
    flex-wrap:wrap;
    align-content: space-between;
    .movieBox {
        width: 18%;
        min-width: 150px;
        overflow: hidden;
        margin: 10px;
        .moviePoster {
            width:100%
        }
        .movieTitle {
            font-size: 11px;
            margin: 0;
            letter-spacing: .5px;
            transition: color .5s ease;
            color: $baseTextColor;
            text-decoration:none;
            &:hover{
                color: $textOnFocusColor;
            }
        }
    }
}
