#navBar {
    width:80px;
    height:100vh;
    padding:10px;
    position: fixed;
    top:80px;
    left:0;
    background-color:$contrastColor;
    .button {
        font-size: 10px;
        text-transform: uppercase;
        text-align:center;
        #popularIcon {
            @include navButton("../images/popular.png");
        }
        #topRatedIcon {
            @include navButton("../images/top_rated.png");
        }
        #upcomingIcon {
            @include navButton("../images/upcoming.png"); 
        }
        #nowPlayingIcon {
            @include navButton("../images/now_playing.png");
        }
        a {
            text-decoration: none;
            color:$baseTextColor;
            &:visited {
                color:$baseTextColor;
            }
        }
    }
}

/* menu hamburguesa */
.imagesNav {
    width: 50px; 
    height: 50px;
    display: none;
  }
.menuHamburguesa {
    display: none;
}
.text {
    display: none;
}
@media (min-width: 320px) and (max-width: 480px){
     .imagesNav{
         display: block;
     }
     .menuHamburguesa{
         display: block;
     }
     .text {
        display: block;
     }
 }
//