#navBar {
    width:80px;
    height:100vh;
    padding:10px;
    position: fixed;
    top:80px;
    left:0;
    background-color:$contrastColor;
    .button {
        font-size: 10px;
        text-transform: uppercase;
        text-align:center;
        #popularIcon {
            @include navButton("../images/popular.png");
        }
        #topRatedIcon {
            @include navButton("../images/top_rated.png");
        }
        #upcomingIcon {
            @include navButton("../images/upcoming.png"); 
        }
        #nowPlayingIcon {
            @include navButton("../images/now_playing.png");
        }
        .a {
            text-decoration: none;
            color:$baseTextColor;
            &:visited {
                color:$baseTextColor;
            }
        }
    }
    @media (min-width: 320px) and (max-width: 480px) {
        display:none
    }
}

#openBar{
    display: none;
    position: absolute;
    right: 45px;
    top: 35px;
}

#searchBox{
    display: flex;
    align-content:center;
    position: relative;
}

// /* menu hamburguesa */
// .imagesNav {
//     width: 50px; 
//     height: 50px;
//     display: none;
//   }
// .menuHamburguesa {
//     display: none;
// }
// .text {
//     display: none;
// }

// .navImage {
//     align-content: inline;
//     display: flex;
//     flex-wrap: wrap;
//     position: relative;
// }

// #menuHamb{
//     height: calc(100vh - 50px);
//     justify-content: center;
//     width: 320px;
//     height: 280px;
//     position: fixed;
//     background-color: white;
//     display: none;
//     align-items: center;
//     justify-content: center;
//     position: relative;
// }

// pueba 
#menuHamb {
    height: calc(100vh - 50px);
    width: 500px;
    height: 350px;
    padding:10px;
    position: fixed;
    top:80px;
    left:0;
    background-color:$contrastColor;
    display: none;
    .navImage {
        font-size: 10px;
        text-transform: uppercase;
        text-align:center;
        #popularIcon {
            @include navButton("../images/popular.png");
        }
        #topRatedIcon {
            @include navButton("../images/top_rated.png");
        }
        #upcomingIcon {
            @include navButton("../images/upcoming.png"); 
        }
        #nowPlayingIcon {
            @include navButton("../images/now_playing.png");
        }
        .text {
            text-decoration: none;
            color:$baseTextColor;
            &:visited {
                color:$baseTextColor;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 480px){
     .imagesNav{
         display: block;
     }
     .menuHamburguesa{
         display: block;
     }
     .text {
        display: block;
     }
     #menuHamb{
        display: none;
     }
     #openBar{
        align-content: center;
        color: black;
        display: flex;
        justify-content: center;

    }
 }