* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
}

body {
  background-color: #efe5e6;
}

#header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
}

#logo {
  background: url("../images/unicorn.png");
  background-size: cover;
  background-color: #efe5e6;
  height: 80px;
  width: 80px;
}

#searchBox {
  display: flex;
  height: 80px;
  padding: 10px;
}

#searchIcon {
  background: url("../images/search.png") center center;
  background-size: 40%;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
  border-radius: 5px;
}

#searchInput {
  border: none;
  width: 70vw;
}
#searchInput:focus {
  outline: none;
}

#navBar {
  width: 80px;
  height: 100vh;
  padding: 10px;
  position: fixed;
  top: 80px;
  left: 0;
  background-color: #fff;
}

.button {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}
.button a {
  text-decoration: none;
  color: gray;
}
.button a:visited {
  color: gray;
}

#popularIcon {
  background: url("../images/popular.png") center center;
  background-size: 40%;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

#topRatedIcon {
  background: url("../images/top_rated.png") center center;
  background-size: 40%;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

#upcomingIcon {
  background: url("../images/upcoming.png") center center;
  background-size: 40%;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

#nowPlayingIcon {
  background: url("../images/now_playing.png") center center;
  background-size: 40%;
  background-repeat: no-repeat;
  height: 60px;
  width: 60px;
}

.bigContainer {
  margin-top: 80px;
  margin-left: 80px;
}

#imageContainer {
  background: url("../images/lego.jpg") top center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  height: 320px;
}

<<<<<<< HEAD
#popularContainer {
  font-family: sans-serif;
}

#titleSection {
  font-size: 18px;
  line-height: 18px;
  font-weight: 50;
  padding: 15px;
}

#verTodas {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 25px;
}

#aVerTodas {
  text-decoration: none;
  transition: color 0.5s ease;
  color: grey;
  float: right;
}

.fas {
  color: grey;
}

#verTodas :hover {
  color: #081c24;
}

#popularList {
=======
.movieList {
>>>>>>> a74214f86c075236f5ba8c635b0fc68c6a91c3f0
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
}

.movieBox {
  width: 200px;
  margin: 15px;
  overflow: hidden;
}

.moviePoster {
  width: 100%;
}

<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> 34de7de46acab6a310481b94c2bb4ff988458357
.movieTitle {
  font-size: 11px;
  margin: 0;
  letter-spacing: 0.5px;
  transition: color 0.5s ease;
  color: gray;
<<<<<<< HEAD
=======
  text-decoration: none;
>>>>>>> 34de7de46acab6a310481b94c2bb4ff988458357
}

.movieTitle :hover {
  color: black;
<<<<<<< HEAD
=======
=======
}

>>>>>>> 34de7de46acab6a310481b94c2bb4ff988458357
#modalContainer {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

#modalBackground {
  width: 100vw;
  height: 100vh;
  background-color: rgba(250, 218, 221, 0.9);
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal {
  height: 80%;
  width: 50%;
}

#upperModal {
  height: 50%;
  background-color: aqua;
}

#lowerModal {
  height: 50%;
  background-color: antiquewhite;
>>>>>>> a74214f86c075236f5ba8c635b0fc68c6a91c3f0
}

#popularContainer {
  font-family: sans-serif;
}

#titleSection {
  font-size: 18px;
  line-height: 18px;
  font-weight: 50;
  padding: 15px;
}

#verTodas {
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 25px;
}

#aVerTodas {
  text-decoration: none;
  transition: color 0.5s ease;
  color: grey;
  float: right;
}

.fas {
  color: grey;
}

#verTodas :hover {
  color: #081c24;
}

/*# sourceMappingURL=main.css.map */
