$baseColor: #efe5e6;
$transpBaseColor:rgba(239,229,230,0.9);
$contrastColor:#fff;
$baseTextColor:gray;
$textOnFocusColor:black;

@mixin navButton ($url) {
    background: url($url) center center;
    background-size:40%;
    background-repeat: no-repeat;
    height:60px;
    width:60px;
}

* {
    box-sizing: border-box;
    padding:0;
    margin:0;
    list-style: none;
    font-family:"Roboto", sans-serif;
}

body {
    background-color: $baseColor;
}

#header {
    display:flex;
    position:fixed;
    top:0;
    left:0;
    background-color:$contrastColor;
    width:100%;
    #logo {
        background: url("../images/unicorn.png");
        background-size: cover;
        background-color:$baseColor;
        height:80px;
        width:80px;
    }
}


#searchBox {
    display:flex;
    height:80px;
    padding:10px;
    #searchIcon {
        @include navButton("../images/search.png");
    }
    #searchInput {
        border:none;
        width:70vw;
        &:focus {
            outline:none;
        }
    }
}

@import "navBar";

.bigContainer {
    margin-top:80px;
    margin-left:80px;
    #imageContainer {
        background: url("../images/lego.jpg") top center;
        background-size:cover;
        background-repeat: no-repeat;
        overflow: hidden;
        height:320px;
        // opacity:0.5
    }
}

@import "movieList";

@import "modal";

.verTodas {
    font-size: 12px;
    font-weight: 300;
    letter-spacing: .5px;  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 25px;
    .titleSection {
        font-size: 18px;
        line-height: 18px;
        font-weight: 50;
        padding: 15px;
    }
    .aVerTodas {
        text-decoration: none;
        transition: color .5s ease;
        color: $baseTextColor;
        float: right;
        &:hover {
            color: $textOnFocusColor;
        }
        .fas  {
            color: $baseTextColor;
        }
    }
}